body {
  margin: 0 !important;
  padding: 0 !important;
}
.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}
.banner {
  height: 500px;
  background: url("./banner.jpg") center center no-repeat;
}

.about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}

.about,
.sign-in {
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.about {
  margin-right: 10px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid red;
}

.sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid green;
}

.logo {
  background: url("./hapoERP.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
}

.text {
  text-align: center;
  margin-top: 30px;
}
.btn-start-now {
  text-align: center;
}

button {
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 25px;
  cursor: pointer;
}

.content-center {
  height: 50px;
  border: 1px solid red;
}
